.wrap{
	height: 100vh;
	position: relative;
	background-color: rgba(#DACEB6, .8);
	.main{
		&:after{
			content: '';
			display: block;
			clear: both;
		}
	}
	canvas{
		float: left;
		box-shadow:  0 0 2px 5px rgba(#000, .3) inset;
		background-color: #fff;
	}
	.view{
		float: right;
		line-height: 28px;
		position: relative;
		.user{
			line-height: 220%;
			width: 100%;
			box-shadow:  0 0 2px 2px rgba(#000, .3) inset;
			padding-left: 20px;
			box-sizing: border-box;
		}
		.msgs{
			margin-top: 5%;
			width: 100%;
			height: 80%;
			background-color: #fff;
			overflow-y: scroll;
			word-wrap:break-word;
			box-sizing: border-box;
			padding: 10px;
		}
	}
	form{
		
	}
	.curplayer{
		padding: 0 2%;
		box-sizing: border-box;
		.player{
			float: left;
			height: 100%;
			width: 20%;
			cursor: pointer;
			position: relative;
			&:hover{
				&:after{
					display: block;
				}
			}
			&:after{
				display: none;
				content: '准备';
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(#000, .3);
				top: 0;
				text-align: center;
			}
			.title{

			}
			.nick{

			}
		}
	}
	.start{
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 30px;
		display: none;
	}
	.question{
		display: none;
		position: absolute;
		top: 20%;
		bottom: 20%;
		left: 20%;
		right: 20%;
		margin: auto;
		background-color: rgba(#000, .5);
		color: #fff;
	}
}
